In [88]:
import pandas as pd

https://www.sciencedirect.com/science/article/pii/S2352340919306985?via%3Dihub

In [89]:
obesity = pd.read_csv('obesity.csv')
obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

Very complete data, no nulls in any of the columns

In [90]:
obesity = obesity.rename({
    'family_history_with_overweight': 'Overweight_Family_History', 
    'FAVC': 'High_Calorie_Consumption_Often',
    'FCVC': 'Vegetable_Consumption_Often',
    'NCP': 'Num_Main_Meals_Daily',
    'CAEC': 'Eat_Between_Meals',
    'SMOKE': 'Smoke_Regularly',
    'CH2O': 'Water_Drank_Daily',
    'SCC': 'Calories_Monitored_Daily',
    'FAF': 'Workout_Frequency',
    'TUE': 'Time_Using_Technology_Daily',
    'CALC': 'Alcohol_Consumption_Frequency',
    'MTRANS': 'Means_of_Transportation',
    'NObeyesdad': 'Obesity_Level'}, axis = 1)
obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   Overweight_Family_History       2111 non-null   object
 5   High_Calorie_Consumption_Often  2111 non-null   object
 6   Vegetable_Consumption_Often     2111 non-null   float64
 7   Num_Main_Meals_Daily            2111 non-null   float64
 8   Eat_Between_Meals               2111 non-null   object
 9   Smoke_Regularly                 2111 non-null   object
 10  Water_Drank_Daily               2111 non-null   float64
 11  Calories_Monitored_Daily        2111 non-null   object
 12  Workout_Frequency               2111 non-null   float64
 13  Time_Using_Technology_Daily     2111 non-null   float64
 14  Alcohol_Consumption_Frequency   2111 non-null   object
 15  Means_of_Transportation         2111 non-null   object
 16  Obesity_Level                   2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [91]:
obesity['Gender'].value_counts()

Gender
Male      1068
Female    1043
Name: count, dtype: int64

### Height

In [92]:
obesity['Height'].describe()

count    2111.000000
mean        1.701677
std         0.093305
min         1.450000
25%         1.630000
50%         1.700499
75%         1.768464
max         1.980000
Name: Height, dtype: float64

In [93]:
obesity['Height'] = obesity['Height'] * 39.3701

In [94]:
obesity['Height'].describe()

count    2111.000000
mean       66.995208
std         3.673420
min        57.086645
25%        64.173263
50%        66.948816
75%        69.624605
max        77.952798
Name: Height, dtype: float64

### Weight

In [95]:
obesity['Weight'].describe()

count    2111.000000
mean       86.586058
std        26.191172
min        39.000000
25%        65.473343
50%        83.000000
75%       107.430682
max       173.000000
Name: Weight, dtype: float64

In [96]:
obesity['Weight'] = obesity['Weight'] * 2.20462

In [97]:
obesity['Weight'].describe()

count    2111.000000
mean      190.889355
std        57.741581
min        85.980180
25%       144.343841
50%       182.983460
75%       236.843830
max       381.399260
Name: Weight, dtype: float64

In [98]:
obesity['Overweight_Family_History'].value_counts()

Overweight_Family_History
yes    1726
no      385
Name: count, dtype: int64

In [126]:
replace_map_fam_history = {
    'yes': 'Yes',
    'no': 'No'
}

obesity['Overweight_Family_History'] = obesity['Overweight_Family_History'].replace(replace_map_fam_history)
obesity['Overweight_Family_History'].value_counts()

Overweight_Family_History
Yes    1726
No      385
Name: count, dtype: int64

In [99]:
obesity['High_Calorie_Consumption_Often'].value_counts()

High_Calorie_Consumption_Often
yes    1866
no      245
Name: count, dtype: int64

In [127]:
replace_map_high_cal = {
    'yes': 'Yes',
    'no': 'No'
}

obesity['High_Calorie_Consumption_Often'] = obesity['High_Calorie_Consumption_Often'].replace(replace_map_high_cal)
obesity['High_Calorie_Consumption_Often'].value_counts()

High_Calorie_Consumption_Often
Yes    1866
No      245
Name: count, dtype: int64

In [100]:
obesity['Vegetable_Consumption_Often'].describe()

count    2111.000000
mean        2.419043
std         0.533927
min         1.000000
25%         2.000000
50%         2.385502
75%         3.000000
max         3.000000
Name: Vegetable_Consumption_Often, dtype: float64

### Vegetable_Consumption_Often

I rounded the numbers because 810 of them were decimals...I figured this would be the best way to most accurately still include that data without making any crazy assumptions.

In [101]:
obesity['Vegetable_Consumption_Often'] = obesity['Vegetable_Consumption_Often'].round().astype(int)

replace_map_veg = {
    1: 'Never',
    2: 'Sometimes',
    3: 'Always'
}

obesity['Vegetable_Consumption_Often'] = obesity['Vegetable_Consumption_Often'].replace(replace_map_veg)
obesity['Vegetable_Consumption_Often'].value_counts()

Vegetable_Consumption_Often
Sometimes    1013
Always        996
Never         102
Name: count, dtype: int64

### Num_Main_Meals_Daily

In [102]:
obesity['Num_Main_Meals_Daily'].value_counts()

Num_Main_Meals_Daily
3.000000    1203
1.000000     199
4.000000      69
2.776840       2
3.985442       2
            ...
3.054899       1
3.118013       1
3.335876       1
3.205009       1
1.089048       1
Name: count, Length: 635, dtype: int64

In [103]:
obesity['Num_Main_Meals_Daily'] = obesity['Num_Main_Meals_Daily'].round().astype(int)
obesity['Num_Main_Meals_Daily'].value_counts()

Num_Main_Meals_Daily
3    1470
1     316
2     176
4     149
Name: count, dtype: int64

### Eat_Between_Meals

In [104]:
obesity['Eat_Between_Meals'].value_counts()

Eat_Between_Meals
Sometimes     1765
Frequently     242
Always          53
no              51
Name: count, dtype: int64

In [105]:
replace_map_snack = {
    'no': 'Never'
}

obesity['Eat_Between_Meals'] = obesity['Eat_Between_Meals'].replace(replace_map_snack)
obesity['Eat_Between_Meals'].value_counts()

Eat_Between_Meals
Sometimes     1765
Frequently     242
Always          53
Never           51
Name: count, dtype: int64

In [106]:
obesity['Smoke_Regularly'].value_counts()

Smoke_Regularly
no     2067
yes      44
Name: count, dtype: int64

In [128]:
replace_map_smoke = {
    'yes': 'Yes',
    'no': 'No'
}

obesity['Smoke_Regularly'] = obesity['Smoke_Regularly'].replace(replace_map_smoke)
obesity['Smoke_Regularly'].value_counts()

Smoke_Regularly
No     2067
Yes      44
Name: count, dtype: int64

In [107]:
obesity['Water_Drank_Daily'].value_counts()

Water_Drank_Daily
2.000000    448
1.000000    211
3.000000    162
2.825629      3
1.636326      3
           ...
1.622638      1
2.452986      1
2.035954      1
1.944095      1
2.863513      1
Name: count, Length: 1268, dtype: int64

In [108]:
obesity['Water_Drank_Daily'] = obesity['Water_Drank_Daily'].round().astype(int)
obesity['Water_Drank_Daily'].value_counts()

Water_Drank_Daily
2    1110
3     516
1     485
Name: count, dtype: int64

In [109]:
replace_map_water = {
    1: 'Less than a liter',
    2: 'Between 1 and 2 liters',
    3: 'More than 2 liters'
}

obesity['Water_Drank_Daily'] = obesity['Water_Drank_Daily'].replace(replace_map_water)
obesity['Water_Drank_Daily'].value_counts()

Water_Drank_Daily
Between 1 and 2 liters    1110
More than 2 liters         516
Less than a liter          485
Name: count, dtype: int64

In [110]:
obesity['Calories_Monitored_Daily'].value_counts()

Calories_Monitored_Daily
no     2015
yes      96
Name: count, dtype: int64

In [129]:
replace_map_monitor = {
    'yes': 'Yes',
    'no': 'No'
}

obesity['Calories_Monitored_Daily'] = obesity['Calories_Monitored_Daily'].replace(replace_map_monitor)
obesity['Calories_Monitored_Daily'].value_counts()

Calories_Monitored_Daily
No     2015
Yes      96
Name: count, dtype: int64

In [111]:
obesity['Workout_Frequency'].value_counts()

Workout_Frequency
0.000000    411
1.000000    234
2.000000    183
3.000000     75
0.110174      2
           ...
1.916751      1
0.954459      1
0.340915      1
0.986414      1
1.026452      1
Name: count, Length: 1190, dtype: int64

In [112]:
obesity['Workout_Frequency'] = obesity['Workout_Frequency'].round().astype(int)
obesity['Workout_Frequency'].value_counts()

Workout_Frequency
1    776
0    720
2    496
3    119
Name: count, dtype: int64

In [113]:
replace_map_workout = {
    0: 'I do not exercise',
    1: '1 or 2 days a week',
    2: '3 to 4 days a week',
    3: '4 to 5 days a week'
}

obesity['Workout_Frequency'] = obesity['Workout_Frequency'].replace(replace_map_workout)
obesity['Workout_Frequency'].value_counts()

Workout_Frequency
1 or 2 days a week    776
I do not exercise     720
3 to 4 days a week    496
4 to 5 days a week    119
Name: count, dtype: int64

In [114]:
obesity['Time_Using_Technology_Daily'].value_counts()

Time_Using_Technology_Daily
0.000000    557
1.000000    292
2.000000    109
0.630866      4
1.119877      3
           ...
1.343044      1
1.019452      1
0.673408      1
0.997600      1
0.714137      1
Name: count, Length: 1129, dtype: int64

In [115]:
obesity['Time_Using_Technology_Daily'] = obesity['Time_Using_Technology_Daily'].round().astype(int)
obesity['Time_Using_Technology_Daily'].value_counts()

Time_Using_Technology_Daily
0    952
1    915
2    244
Name: count, dtype: int64

In [116]:
replace_map_tech = {
    0: '0-2 hours',
    1: '3-5 hours',
    2: 'More than 5 hours'
}

obesity['Time_Using_Technology_Daily'] = obesity['Time_Using_Technology_Daily'].replace(replace_map_tech)
obesity['Time_Using_Technology_Daily'].value_counts()

Time_Using_Technology_Daily
0-2 hours            952
3-5 hours            915
More than 5 hours    244
Name: count, dtype: int64

In [118]:
obesity['Alcohol_Consumption_Frequency'].value_counts()

Alcohol_Consumption_Frequency
Sometimes     1401
no             639
Frequently      70
Always           1
Name: count, dtype: int64

In [119]:
replace_map_alcohol = {
    'no': 'Never'
}

obesity['Alcohol_Consumption_Frequency'] = obesity['Alcohol_Consumption_Frequency'].replace(replace_map_alcohol)
obesity['Alcohol_Consumption_Frequency'].value_counts()

Alcohol_Consumption_Frequency
Sometimes     1401
Never          639
Frequently      70
Always           1
Name: count, dtype: int64

In [120]:
obesity['Means_of_Transportation'].value_counts()

Means_of_Transportation
Public_Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: count, dtype: int64

In [123]:
replace_map_transport = {
    'Public_Transportation': 'Public Transportation'
}

obesity['Means_of_Transportation'] = obesity['Means_of_Transportation'].replace(replace_map_transport)
obesity['Means_of_Transportation'].value_counts()

Means_of_Transportation
Public Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: count, dtype: int64

In [121]:
obesity['Obesity_Level'].value_counts()

Obesity_Level
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

In [124]:
replace_map_level = {
    'Obesity_Type_I': 'Obesity Type I',
    'Obesity_Type_II': 'Obesity Type II',
    'Obesity_Type_III': 'Obesity Type III',
    'Overweight_Level_I': 'Overweight Level I',
    'Overweight_Level_II': 'Overweight Level II',
    'Normal_Weight': 'Normal Weight',
    'Insufficient_Weight': 'Insufficient Weight'
}

obesity['Obesity_Level'] = obesity['Obesity_Level'].replace(replace_map_level)
obesity['Obesity_Level'].value_counts()

Obesity_Level
Obesity Type I         351
Obesity Type III       324
Obesity Type II        297
Overweight Level I     290
Overweight Level II    290
Normal Weight          287
Insufficient Weight    272
Name: count, dtype: int64

In [130]:
obesity.head()

,Gender,Age,Height,Weight,Overweight_Family_History,High_Calorie_Consumption_Often,Vegetable_Consumption_Often,Num_Main_Meals_Daily,Eat_Between_Meals,Smoke_Regularly,Water_Drank_Daily,Calories_Monitored_Daily,Workout_Frequency,Time_Using_Technology_Daily,Alcohol_Consumption_Frequency,Means_of_Transportation,Obesity_Level
0,Female,21.0,63.779562,141.095680,Yes,No,Sometimes,3,Sometimes,No,Between 1 and 2 liters,No,I do not exercise,3-5 hours,Never,Public Transportation,Normal Weight
1,Female,21.0,59.842552,123.458720,Yes,No,Always,3,Sometimes,Yes,More than 2 liters,Yes,4 to 5 days a week,0-2 hours,Sometimes,Public Transportation,Normal Weight
2,Male,23.0,70.866180,169.755740,Yes,No,Sometimes,3,Sometimes,No,Between 1 and 2 liters,No,3 to 4 days a week,3-5 hours,Frequently,Public Transportation,Normal Weight
3,Male,27.0,70.866180,191.801940,No,No,Always,3,Sometimes,No,Between 1 and 2 liters,No,3 to 4 days a week,0-2 hours,Frequently,Walking,Overweight Level I
4,Male,22.0,70.078778,197.974876,No,No,Sometimes,1,Sometimes,No,Between 1 and 2 liters,No,I do not exercise,0-2 hours,Sometimes,Public Transportation,Overweight Level II

In [134]:
catcolumns = ['Overweight_Family_History', 'High_Calorie_Consumption_Often', 'Smoke_Regularly', 'Calories_Monitored_Daily', 'Vegetable_Consumption_Often', 'Eat_Between_Meals', 'Water_Drank_Daily', 'Workout_Frequency', 'Time_Using_Technology_Daily', 'Alcohol_Consumption_Frequency', 'Means_of_Transportation', 'Obesity_Level', 'Gender']
obesity[catcolumns] = obesity[catcolumns].astype('category')
obesity.dtypes

Gender                            category
Age                                float64
Height                             float64
Weight                             float64
Overweight_Family_History         category
High_Calorie_Consumption_Often    category
Vegetable_Consumption_Often       category
Num_Main_Meals_Daily                 int64
Eat_Between_Meals                 category
Smoke_Regularly                   category
Water_Drank_Daily                 category
Calories_Monitored_Daily          category
Workout_Frequency                 category
Time_Using_Technology_Daily       category
Alcohol_Consumption_Frequency     category
Means_of_Transportation           category
Obesity_Level                     category
dtype: object

In [132]:
obesity.head()

,Gender,Age,Height,Weight,Overweight_Family_History,High_Calorie_Consumption_Often,Vegetable_Consumption_Often,Num_Main_Meals_Daily,Eat_Between_Meals,Smoke_Regularly,Water_Drank_Daily,Calories_Monitored_Daily,Workout_Frequency,Time_Using_Technology_Daily,Alcohol_Consumption_Frequency,Means_of_Transportation,Obesity_Level
0,Female,21.0,63.779562,141.095680,Yes,No,Sometimes,3,Sometimes,No,Between 1 and 2 liters,No,I do not exercise,3-5 hours,Never,Public Transportation,Normal Weight
1,Female,21.0,59.842552,123.458720,Yes,No,Always,3,Sometimes,Yes,More than 2 liters,Yes,4 to 5 days a week,0-2 hours,Sometimes,Public Transportation,Normal Weight
2,Male,23.0,70.866180,169.755740,Yes,No,Sometimes,3,Sometimes,No,Between 1 and 2 liters,No,3 to 4 days a week,3-5 hours,Frequently,Public Transportation,Normal Weight
3,Male,27.0,70.866180,191.801940,No,No,Always,3,Sometimes,No,Between 1 and 2 liters,No,3 to 4 days a week,0-2 hours,Frequently,Walking,Overweight Level I
4,Male,22.0,70.078778,197.974876,No,No,Sometimes,1,Sometimes,No,Between 1 and 2 liters,No,I do not exercise,0-2 hours,Sometimes,Public Transportation,Overweight Level II

In [135]:
obesity.to_csv('obesity_cleaned.csv', index=False)