In [2]:
import pandas as pd
import numpy as np

In [3]:
dat = pd.read_csv('data/Myocardial infarction complications Database.csv', index_col=0)
dat.head()

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
ID,,,,,,,,,,,,,,,,,,,,,
1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
dat.corr(numeric_only=True)[['REC_IM']].sort_values(by='REC_IM', key=abs, ascending=False).head(40)

                 REC_IM
REC_IM         1.000000
KFK_BLOOD     -0.486864
R_AB_3_n       0.180423
OTEK_LANC      0.174350
NA_R_3_n       0.137458
STENOK_AN      0.135158
NA_R_2_n       0.107723
np_01          0.107158
LET_IS         0.098199
FK_STENOK      0.096390
R_AB_2_n       0.092952
AGE            0.091002
ZSN            0.086894
IBS_POST       0.078051
zab_leg_02     0.075741
NA_R_1_n       0.068685
NITR_S         0.068577
GT_POST        0.066339
ritm_ecg_p_07  0.066259
SEX           -0.065186
D_AD_KBRIG     0.063420
L_BLOOD        0.061288
IBS_NASL      -0.060523
NOT_NA_2_n     0.059262
endocr_01      0.058515
zab_leg_01    -0.056887
GEPAR_S_n      0.054425
DLIT_AG        0.054333
R_AB_1_n       0.053754
K_SH_POST     -0.053700
JELUD_TAH      0.052993
nr_03          0.052474
n_r_ecg_p_09   0.051565
S_AD_KBRIG     0.047297
ant_im         0.044870
ANT_CA_S_n    -0.044739
n_r_ecg_p_06  -0.044681
FIBR_JELUD     0.044024
ritm_ecg_p_02 -0.042653
n_p_ecg_p_11   0.042646

Vars of interest:
1. Age (numeric)
2. sex (categorical)
3. INF_ANAM: # past myocardial infarctions (Categorical)
4. IBS_POST: Coronary heart disease in recent weeks (Categorical)
5. KFK Blood: Serum CPK content (Numeric - continuous)
6. R_AB_3_n: Replapse of pain in 3rd day of the hospital period (Categorical)
7. OTEK_LANC: pulmonary edema (binary)
8. NA_R_3_n: use of opiod drugs in the ICU in 3rd day of hospital (integer?)
9. STENOK_AN: exertional angina pectoris in the anamnesis (categorical)
10. np_01: first degree av block in anamnesis (binary)
11. IBS_POST: coronary heard disease in recent weeks (categorical)
12. zab_leg_02: obstructive chronic bronchitis in anamnesis (binary)
13. NITR_S: use of liquid nitrates in ICU (binary)
14. GT_POST: paroxysms of ventricular tachycardia at the time of admission to ICU
15. ritm_ecg_p_07: ecg rhythm at time of admission to hospital: sinus w/ heart rate above 90 (tachycardia)
16. D_AD_KBRIG: diastolic blood pressure (integer)
17. L_BLOOD: white blood cell count
18. IBS_NASL: heredity on CHD
19. endocr_01: diabetes mellitus in anamnesis
20.

In [7]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1700 entries, 1 to 1700
Columns: 123 entries, AGE to LET_IS
dtypes: float64(110), int64(13)
memory usage: 1.6 MB