In [1]:
import pandas as pd
import numpy as np

In [3]:
dat = pd.read_csv('data/Myocardial infarction complications Database.csv', index_col=0)
dat.head()

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
ID,,,,,,,,,,,,,,,,,,,,,
1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
dat.corr(numeric_only=True)[['REC_IM']].sort_values(by='REC_IM', key=abs, ascending=False).head(10)

             REC_IM
REC_IM     1.000000
KFK_BLOOD -0.486864
R_AB_3_n   0.180423
OTEK_LANC  0.174350
NA_R_3_n   0.137458
STENOK_AN  0.135158
NA_R_2_n   0.107723
np_01      0.107158
LET_IS     0.098199
FK_STENOK  0.096390